.headerContainer {
  border-top: 24px solid var(--primary-color);
  padding: 1.875rem 5rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background: var(--black);
    color: var(--white);

    font-family: Poppins;
    font-size: 0.875rem;

    padding: 0.625rem 2.1875rem;
    border: unset;

    transition: filter 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
      filter: brightness(0.85);
    }
  }
}

.aboutContainer {
  padding: 0 5rem;
  padding-top: 7rem;
  margin-top: -5rem;

  background: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h1 {
    font-family: Montserrat;
    font-size: 5rem;
    color: var(--black);
    margin-bottom: 3.5rem;
    line-height: 4rem;

    span {
      font-size: 3.75rem;
      font-weight: normal;
      color: var(--primary-color);
    }
  }

  p {
    color: var(--black);
    font-weight: 600;
    font-size: 1.5rem;

    margin-bottom: 2.75rem;
  }

  div > .goToTodo {
    padding: 1.125rem 3.57rem;
    background: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    border: unset;
    cursor: pointer;

    transition: filter 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
      filter: brightness(0.85);
    }
  }

  .arrowDownButton {
    margin: 3.125rem auto 1.875rem;
    display: block;
    width: fit-content;
    cursor: pointer;
    font-size: 0;
    border: 0;
    background: transparent;
    animation: bounce 2s ease-in-out infinite;

    &:active,
    &:focus {
      outline: 2px solid;
    }
  }
}

.todoContainer {
  background: var(--black);
  padding: 5rem 0;

  > div {
    max-width: 37.5rem;
    margin: 0 auto;
    text-align: center;

    h2 {
      width: fit-content;
      margin: 0 auto 2.125rem;
      padding-bottom: 0.4375rem;
      border-bottom: 2px solid var(--primary-color);

      color: var(--white);
      font-size: 3.75rem;
      line-height: 1;
    }

    p {
      font-family: Mulish;
      font-size: 1.5rem;
      color: var(--white);
    }
  }
}

.mainContentContainer {
  padding: 5.68rem 1rem 13.0625rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
}

.footerContainer {
  background: var(--black);
  text-align: center;
  padding: 2.5rem 1rem;

  h5 {
    font-family: Poppins;
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1.75rem;
  }

  a {
    font-family: Poppins;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;

    display: block;
    margin-bottom: 1.75rem;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-family: Poppins;
    font-size: 0.875rem;
    color: var(--white);
  }
}

@media (max-width: 425px) {
  .headerContainer {
    padding: 1rem;
    gap: 2rem;
  }

  .aboutContainer {
    background: transparent;

    h1 {
      font-size: 3rem;
      line-height: 2rem;

      span {
        font-size: 1.75rem;
      }
    }

    > div {
      justify-content: center;
      gap: 2rem;

      .goToTodo {
        display: block;
        text-align: center;
      }
    }
  }

  .mainContentContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 997px) {
  .aboutContainer {
    background: transparent;

    > div {
      justify-content: center;
      gap: 2rem;

      .goToTodo {
        display: block;
        text-align: center;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.5rem);
  }
}
