.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  transform: translateY(-5rem);
  pointer-events: none;

  transition: all 0.2s ease-in-out;

  &.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }

  .modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
  }

  .modalContent {
    flex: none;
    display: flex;
    align-items: flex-start;

    background: #fff;

    max-width: 720px;
    margin: auto auto;
    width: 100%;
    padding: 3rem;
    border-radius: 3px;

    position: relative;

    h1 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 5rem;
      line-height: 4rem;
      color: var(--black);

      span {
        display: block;
        font-size: 2.5rem;
        color: var(--primary-color);
        font-weight: normal;
      }
    }

    img {
      width: 220px;
      margin-right: 1rem;
    }

    form {
      margin-top: 5rem;
      max-width: 340px;

      label {
        display: block;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--black);
        margin-bottom: 0.25rem;
      }

      input {
        border: 1px solid #959595;
        height: 54px;
        width: 100%;
        background: transparent;
        border-radius: 10px;
        padding: 0.5rem;
        color: var(--black);
      }

      > div + div {
        margin-top: 1.875rem;
      }

      button {
        display: block;
        margin: 2.5rem auto 0;
        max-width: 300px;
        width: 100%;
        background: var(--primary-color);
        border: 0;
        padding: 1.125rem 0;
        color: var(--white);
        font-weight: 600;

        transition: filter 0.2s ease-in-out;

        &:hover {
          filter: brightness(0.75);
        }

        &:disabled {
          filter: brightness(0.7);
          cursor: not-allowed;
        }
      }

      p {
        margin-top: 0.75rem;
        font-weight: bold;
        color: #f55959;
      }
    }

    .closeModal {
      border: 0;
      background: transparent;
      color: var(--black);
      font-weight: bold;

      position: absolute;
      top: 1rem;
      right: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 720px) {
  .modalContent img {
    display: none;
  }

  .modalContent {
    justify-content: center;
  }
}
