.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  > div {
    display: flex;
    align-items: center;
    max-width: 70%;

    button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      flex: none;
      margin-right: 1rem;

      background: transparent;

      &:not(.isCompleted) {
        border: 2px solid;
        border-color: var(--orange-200);
        font-size: 0;

        &:hover {
          background: url("/check-icon.svg");
          background-size: cover;
          border: 0;
        }
      }

      &.isCompleted {
        border: 0;
        font-size: 0;
      }
    }
  }

  > div.draggableDiv & + .todoItem {
    margin-top: 1.25rem;
  }

  > span > button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    font-family: Montserrat;
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0;
    transform: translateX(1rem);
    transition: all 0.2s ease-in-out;

    & + button {
      margin-left: 0.5rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover > span > button {
    opacity: 1;
    transform: translateX(0);
  }

  &.todoBeenEdited {
    color: var(--orange-100);
    font-weight: 600;
  }
}
